#lorem {color: aqua;}

#listaordenada{
    background-color: rgb(229, 237, 235);
    color: black;
    font-style:italic;
    width: 50%;
}

#titlelista li{
    border-style:groove;
    border-radius: 3px;
    border-color:black;
    margin: 8px;
    padding: 6px;
    box-shadow: 2px 2px grey;
    font-weight: bold;
}
#titlelista a{
    color: black;
    font-style: normal;
    text-decoration: none;
}
#titlelista a:hover{
    color: blue;
}
#titlelista li:hover{
    background-color: bisque;
    box-shadow: 4px 4px rgb(160, 156, 156);
}
input[type="text"]{
    background: rgb(147, 235, 252);
}
.listas{
    padding: 5px;
    float: right;
    width: 50%;
    border: solid orange 2px;
    border-radius: 10px;
}
.tablas{
    padding: 5px;
    margin-top: 10px;
    float: right;
    width: 50%;
    border: solid greenyellow 2px;
    border-radius: 10px;
}
.formularios{
    padding: 5px;
    width: 40%;
    border: solid lightblue 2px;
    border-radius: 10px;
}
.media{
    border: grey solid 2px;
    padding: 20px;
    margin: 20px;
}
.piedepagina{
    float: right;
    width: 99%;
    height: 100%;
    background-color: rgb(193, 192, 192);
    border: solid grey 3px;
    color: black;
    text-align: center;
    position: fixed;
}