body{
    width: 2000px;
    margin: auto;
    min-width: 2000px;
    background-color: black;
    color: white;
}
#google{
    text-decoration: none;
}
#lorem {
    color: aqua;
    column-count: 5;
    column-rule-style:solid; /* ponemos el estilo de forma con la que separan las columnas*/
    column-rule-color: blueviolet; /* ponemos el color de la linea que separa las columnas */
    column-rule-width: 5px; /* definimos el ancho de la lina que separa las columnas */
}
#loremscroll{
    width: 200px;
    height: 100px;
    overflow: scroll;
}
#listaordenada{
    background-color: rgb(229, 237, 235);
    color: black;
    font-style:italic;
    width: 50%;
}

#titlelista li{
    border-style:groove;
    border-radius: 3px;
    border-color:black;
    margin: 8px;
    padding: 6px;
    box-shadow: 2px 2px grey;
    font-weight: bold;
}
#titlelista a{
    color: black;
    font-style: normal;
    text-decoration: none;
}
#titlelista a:hover{
    color: blue;
}
#titlelista li:hover{
    background-color: bisque;
    box-shadow: 4px 4px rgb(160, 156, 156);
}
input[type="text"]{
    background: rgb(147, 235, 252);
}
.listas{
    padding: 5px;
    float: right;
    width: 50%;
    border: solid orange 2px;
    border-radius: 10px;
}
.tablas{
    padding: 5px;
    margin-top: 10px;
    float: right;
    width: 50%;
    border: solid greenyellow 2px;
    border-radius: 10px;
}
.formularios{
    column-count: 2; /*ponemos en cuantas columnas queremos que se divida el contenedor */
    column-gap: 30px; /* Marcamos el espacio entre las columnas */
    padding: 20px;
    width: 40%;
    border: solid lightblue 2px;
    border-radius: 10px;
}
.media{
    border: grey solid 2px;
    padding: 20px;
    margin: 20px;
}
.piedepagina{
    float: right;
    width: 2000px;
    margin-top: 400px;
    height: 100%;
    background-color: rgb(193, 192, 192);
    border: solid grey 3px;
    color: black;
    text-align: center;
    position: fixed;
}
.padre{
    display: flex;
    height: 300px;
    border: white solid 2px;
    justify-content: center; /* aqui ponemos los hijos centrados en el centro*/
    flex-wrap: wrap; /* Aqui hacemos que cuando lleguen al limite, pasen a la linea de abajo */
    align-content: space-between; /* para que se separen entre los elementos por igual medida */
    align-content: space-around; /*para que se separen de la caja por igual medida*/
    align-content: stretch; /*para que opcupen todo el espacio que puedan  */
}
.hijo{
    border: solid grey 2px;
    padding: 10px;
    margin: 5px;
    width: 33%; /* Aqui hacemos que ocupe el 33% del FLEX para que la siguiente linea pase hacia abajo */
}
